# Folders
/src
/discloud
/deprecated
/node_modules

# Files
/.env
/.env.development
/tsconfig.json
/package-lock.json

# Config files
/firebase.json
/discloud.config

# Extensions
*.zip
*.sqlite
*.exe
*.db
*.development.json